<!DOCTYPE html>
<html ng-app="slotbooking">
<head>

    <title>Django-Angular-Slotbooking</title>

    <base href="/" />

    {% comment %}  <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />{% endcomment %}

    <!-- Include the core AngularJS library -->
    {% comment %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
{% endcomment %}


    <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-cookies.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    {% comment %}
    <script src="http://code.angularjs.org/1.5.0/angular-aria.js"></script>
{% endcomment %}

    <!-- Include the AngularJS routing library -->
    {% include 'stylesheets.html' %}

</head>

<body>
{% include 'navbar.html' %}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 ng-view"></div>
    </div>
</div>

{% include 'javascripts.html' %}
</body>
</html>