{% load compress %}
{% load staticfiles %}

{% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
    {% comment %}
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
{% endcomment %}
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-select-master/js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'javascripts/slotbooking.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/slotbooking.routes.js' %}"></script>


    <script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/bookingsystem/services/bookingsystem.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/bookingsystem/controllers/home-page.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>



    {% comment %}
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>{% endcomment %}
{% endcompress %}