{% load compress %}
{% load staticfiles %}

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />
    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}" />
{% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-select-master/css/bootstrap-select.css' %}" />

    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-select-master/css/bootstrap-select.css' %}" />
{% endcomment %}


    <link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />
{% endcompress %}
